/* Decktop */
@media (max-width: 1440px) {}
@media (max-width: 1320px) {}
@media (max-width: 1290px) {}
@media (max-width: 1170px) {}
@media (max-width: 1140px) {}
@media (max-width: 1024px) {
    .receipt.active .receipt__window{
        width: 400px!important;
        min-height: 400px!important;
    }
}
/* tab */
@media (max-width: 992px) {

}
@media (max-width: 850px) {}
/* mobile */
@media (max-width: 768px) {}
@media (max-width: 734px) {}
@media (max-width: 684px) {
    .receipt.active .receipt__window{
        width: 300px!important;
        min-height: 300px!important;
    }
}

@media (max-width: 667px) {}
/* mobile < 576  */
@media (max-width: 576px) {}
@media (max-width: 480px) {}
@media (max-width: 412px) {}
@media (max-width: 375px) {}
@media (max-width: 320px) {}